<%= form_for(topic) do |f| %>

  <div class="field">
    <% raise "TODO: SELECT SUL THEME, STILE, ABILITY" %>
    <%= f.label :theme_id %><br>
    <%= f.number_field :theme_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
