<p id="notice"><%= notice %></p>

<p>
  <strong>Journey:</strong>
  <%= @stage.journey_id %>
</p>

<p>
  <strong>Stageable:</strong>
  <%= @stage.stageable_id %>
</p>

<p>
  <strong>Stageable type:</strong>
  <%= @stage.stageable_type %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
