<%= form_for(@theorem) do |f| %>
  <% if @theorem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theorem.errors.count, "error") %> prohibited this theorem from being saved:</h2>

      <ul>
      <% @theorem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :connector %><br>
    <%= f.text_field :connector %>
  </div>
  <div class="field">
    <%= f.label :claim_id %><br>
    <%= f.text_field :claim_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
