<div class="padding-left">
  <% theorems.each do |root_id, root_hash| %>
    <div>
      <%= root_hash[:value] %>
    </div>
    <% if write %>
      <div class="padding-left">
        <%= form_for Theorem.new(argument_id: argument_id), html: {id: "new_reason_#{root_id}"} do |f| %>
          <%= f.hidden_field :argument_id %>
          <%= hidden_field_tag :consequence_id, root_id %>
          <%= f.select :claim_id, [nil] + Claim.pluck(:value, :id), {}, class: "select2-theorem-claim" %>
          <%= f.submit "Aggiungi Ramo" %>
        <% end %>
      </div>
    <% end %>
    <%= render partial: 'theorems/nested_theorems', locals: {theorems: root_hash[:reasons], argument_id: argument_id, write: write} %>
  <% end %>
</div>
