<% if is_root %>
<div id="root_nested_theorems_panel_<%= argument_id %>">
<% end %>


<% if write && is_root %>
  <div class="panel-heading">
    <%= form_for [:backend, Theorem.new(argument_id: argument_id)], html: {id: "new_theorem_#{argument_id}"} do |f| %>
      <%= f.hidden_field :argument_id %>
      <div class="input-group">
        <span class="input-group-btn">
          <%= f.submit 'Aggiungi', class: "btn btn-default" %>
        </span>
        <%= f.text_field :claim_id,
          class: "form-control selectize-theorem-claim",
          placeholder: "Aggiungi una ragione a \"#{truncate (@argument.try(:name) || argument_id.to_s), length: 60}\"" %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="panel panel-warning">

  <% theorems.each do |root_id, root_hash| %>

    <div class="panel-heading" style="padding: 5px 15px;">
      <% if write || root_hash[:reasons].any? %>
        <span class="pull-right" style="position: relative;">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <h4>
              <i class="fa fa-bars"></i>
            </h4>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <%= link_to "/backend/theorems/#{root_id}", method: :delete, data: {confirm: "Vuoi eliminare \"#{root_hash[:value]}\"? Non è reversibile."} do %>
                <%= fa_icon :trash, text: "Elimina", class: "fa-fw" %>
              <% end %>
            </li>
            <li>
              <a href="#">
                <%= fa_icon :edit, text: "Modifica frase", class: "fa-fw" %>
              </a>
            </li>
          </ul>
        </span>
        <a role="button" data-toggle="collapse" href="#c<%= argument_id %>-<%= root_id %>" aria-expanded="true" aria-controls="collapseOne">
          <span class="pull-left">
            <h4>
              <i class="fa fa-plus-square-o accordion <%= write && root_hash[:reasons].any? ? 'hidden' : nil %>"></i>
              <i class="fa fa-minus-square-o accordion <%= write && root_hash[:reasons].any? ? nil : 'hidden' %>"></i>
              (<%= root_hash[:reasons].count %>)
            </h4>
          </span>
        </a>
        <span class="pull-left" style="max-width: calc(100% - 80px); margin: 0px 10px;">
          <h4>
            <%= root_hash[:value] %>
          </h4>
        </span>
        <div class="clearfix"></div>
      <% else %>
          <span class="pull-left">
            <h4>
              <i class="fa fa-plus-square-o accordion invisible"></i>
              (0)
            </h4>
          </span>
        <span class="pull-left" style="max-width: calc(100% - 80px); margin: 0px 10px;">
          <h4>
            <%= root_hash[:value] %>
          </h4>
        </span>
        <div class="clearfix"></div>
      <% end %>
    </div>


    <% if write || root_hash[:reasons].any? %>
      <div id="c<%= argument_id %>-<%= root_id %>" class="panel-body collapse <%= write && root_hash[:reasons].any? ? 'in' : nil %>">
        <% if write %>
            <%= form_for [:backend, Theorem.new(argument_id: argument_id)], html: {id: "new_reason_#{root_id}"} do |f| %>
              <%= f.hidden_field :argument_id %>
              <%= hidden_field_tag :consequence_id, root_id %>
              <div class="input-group">
                <span class="input-group-btn">
                  <%= f.submit "Aggiungi", class: "btn btn-default" %>
                </span>
                <%= f.text_field :claim_id,
                  class: "form-control selectize-theorem-claim",
                  placeholder: "Aggiungi una ragione a \"#{truncate root_hash[:value], length: 60}\"" %>
              </div>
            <% end %>
          <!-- </div> -->
        <% end %>
        <%= render partial: 'backend/theorems/nested_theorems_panel',
          locals: {
            theorems: root_hash[:reasons],
            argument_id: argument_id,
            write: write,
            is_root: false
          } if root_hash[:reasons].any? %>

      </div>
    <% end %>
  <% end %>
</div>

<% if is_root %>
</div>
<% end %>
