<div class="panel-heading" id="panel-heading-theorem-<%= theorem.id %>">

  <span class="pull-right" style="position: relative;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      <h4>
        <i class="fa fa-bars"></i>
      </h4>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <% if @favorite_theorem_ids.include?(theorem.id) %>
          <%= link_to unfavorite_api_v1_theorem_path(theorem), method: :delete do %>
            <%= fa_icon 'star-o', text: "Rimuovi dai preferiti", class: "fa-fw" %>
          <% end %>
        <% else %>
          <%= link_to favorite_api_v1_theorem_path(theorem), method: :put do %>
            <%= fa_icon :star, text: "Aggiungi ai preferiti", class: "fa-fw" %>
          <% end %>
        <% end%>
      </li>
      <li>
        <%= link_to '#edit-name', onclick: "$('.toggle_theorem_#{theorem.id}').toggle()" do %>
          <%= fa_icon :edit, text: "Modifica nome" %>
        <% end if can? :edit, theorem %>
      </li>
      <li>
        <%= link_to [:backend, theorem], class: "", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon :trash, text: "Elimina" %>
        <% end if can?(:destroy, theorem) %>
      </li>
    </ul>
  </span>


  <%= link_to [:backend, theorem] do %>
    <span class="pull-left toggle_theorem_<%=theorem.id%>" style="width: calc(100% - 16px);">
      <h4>
        <i class="fa fa-arrow-circle-right"></i>
        <%= theorem.claim_value %>
        <% if theorem.argument %>
          <small>
            <%= theorem.argument.name %>
            <% if theorem.argument.theme %>
              (in <%= theorem.argument.theme.name %>)
            <% end %>
          </small>
        <% end %>
      </h4>
    </span>
  <% end %>

  <span class="pull-left toggle_theorem_<%=theorem.id%>" style="display: none; width: 60%;">
    <%= form_for [:backend, theorem.claim], html: {class: "form-inline"}, remote: true do |f| %>
    <div class="form-group" style="width: 100%;">
      <%= f.text_field :value, class: "form-control", style: "" %>
    </div>
      <%= f.submit "Aggiorna", class: 'btn btn-primary' %>
    <% end %>
  </span>

  <div class="clearfix"></div>
</div>