<div class="page-header">
  <h1><%= @theorems.count %> <%= Theorem.model_name.human(count: @theorems.count) %></h1>
</div>


<% @theorems.each do |theorem| %>
  <div class="panel panel-warning">

    <%= render partial: "panel_heading", locals: {theorem: theorem} %>

    <div class="panel-body">
      <% if theorem.reasons.any? %>
        Ragioni: &nbsp; <% theorem.reasons.each do |reason| %>
          <%= link_to truncate(reason.claim_value, length: 60), [:backend, reason], class: "btn btn-warning btn-outline" %>
        <% end %>
      <% end %>
      &nbsp; 
      <% if theorem.consequences.any? %>
        Conseguenze: &nbsp; <% theorem.consequences.each do |consequence| %>
          <%= link_to truncate(consequence.claim_value, length: 60), [:backend, consequence], class: "btn btn-warning btn-outline" %>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>



<%= form_for [:backend, Theorem.new], html: {class: "inline-create"} do |f| %>
  <%= f.select :argument_id, [nil] + Argument.pluck(:name, :id) %>
  <%= f.select :claim_id, [nil] + Claim.pluck(:value, :id) %>
  <%= f.submit %>
<% end %>
