<div class="panel-heading" id="panel-heading-theme-<%= theme.id %>">

  <span class="pull-right" style="position: relative;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      <h4>
        <i class="fa fa-bars"></i>
      </h4>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <% if @favorite_themes.pluck(:id).include?(theme.id) %>
          <%= link_to unfavorite_api_v1_theme_path(theme), method: :delete do %>
            <%= fa_icon 'star-o', text: "Rimuovi dai preferiti", class: "fa-fw" %>
          <% end %>
        <% else %>
          <%= link_to favorite_api_v1_theme_path(theme), method: :put do %>
            <%= fa_icon :star, text: "Aggiungi ai preferiti", class: "fa-fw" %>
          <% end %>
        <% end%>
      </li>
      <li>
        <%= link_to '#edit-name', onclick: "$('.toggle_theme_#{theme.id}').toggle()" do %>
          <%= fa_icon :edit, text: "Modifica nome" %>
        <% end if can? :edit, theme %>
      </li>
      <li>
        <%= link_to [:backend, theme], class: "", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon :trash, text: "Elimina" %>
        <% end if can?(:destroy, theme) %>
      </li>
    </ul>
  </span>

  <%= link_to [:backend, theme] do %>
    <span class="pull-left toggle_theme_<%=theme.id%>">
      <h4>
        <i class="fa fa-arrow-circle-right"></i>
        <%= theme.name %>
        <small>
          <%= theme.arguments.count %> <%= Argument.model_name.human(count: theme.arguments.count) %>
        </small>
      </h4>
    </span>
  <% end %>

  <span class="pull-left toggle_theme_<%=theme.id%>" style="display: none; width: 60%;">
    <%= form_for [:backend, theme], html: {class: "form-inline"}, remote: true do |f| %>
    <div class="form-group" style="width: 100%;">
      <%= f.text_field :name, class: "form-control", style: "" %>
    </div>
      <%= f.submit "Aggiorna", class: 'btn btn-primary' %>
    <% end %>
  </span>

  <div class="clearfix"></div>
</div>
