<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trova Relatori è un'applicazione che ti permette di individuare, all'interno di Alleanza Cattolica, le persone esperte o interessate a un argomento.">
    <meta name="author" content="Carlo Martinucci">

    <title>Trova Relatori</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/html5_shim' %>

  </head>

<body>
  <div id="wrapper" style="max-width: 1000px; margin-left: auto; margin-right: auto; min-height: 100vh;">

    <%= render partial: 'layouts/knowledge/navigation' %>

    <div id="page-wrapper" style="margin-left: 0;">
      <div class="row">
        <div class="col-xs-12">
          <%= notice %>
        </div>
      </div>

      <%= yield %>

    </div>
    <%= render partial: 'layouts/knowledge/footer' %>
  </div>
  
</body>
</html>
