<ul class="nav navbar-top-links navbar-right" style="float: right !important;">

  <% if current_user %>
    <li>
      <%= link_to help_path do %> 
        <i class="fa fa-info fa-fw"></i>
      <% end %>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-cog fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <% if can? :index, User %>
          <li>
            <%= link_to users_path do %> 
              <i class="fa fa-users fa-fw"></i> Tutti
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to current_user do %> 
            <i class="fa fa-user fa-fw"></i> <%= current_user.name %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete do %> 
            <i class="fa fa-sign-out fa-fw"></i> Esci
          <% end %>
        </li>
      </ul>
    </li>
  <% else %>
    <li>
      <%= link_to new_user_session_path do %> 
        <%= fa_icon "sign-in", class: "fa-fw", text: "Entra" %>
      <% end %>
    </li>
  <% end %>
</ul>
